@import (reference) 'vars';
.border--solid {
	border-style: solid !important;
}

.border-color_default {
	border-color: @color-fg_default !important;
}

.border--default:extend(.border--solid, .border-color_default, .border-width_small all, .border-width-hover_small all, .border-radius_default all) {}

.flex-row {
	display: flex !important;
	flex-direction: row !important;
}

.flex-column {
	display: flex !important;
	flex-direction: column !important;
}

.flex-spread {
	justify-content: space-between;
}

.flex-centered {
    &:extend(.flex-row);
    align-items: center !important;
    justify-content: center !important;
}

.flex-column--align-centered {
	align-items: center;
}

.align-items-end {
    align-items: flex-end !important;
}

.position-relative {
	position: relative !important;
}

.position-absolute {
	position: absolute !important;
}

.justify-right {
    &:extend(.position-absolute);
    right: 0 !important;
}

.animation-init-duration {
	animation-duration: @animation-init-duration;
}

.fade-out-1s {
	opacity: 0 !important;
	transition-property: opacity;
	transition-duration: 1s;
}

.fade {
    opacity: 0 !important;
    transition-property: opacity;
    transition-duration: 1s;

    &--in {
        opacity: 1 !important;
    }
}

.hidden {
    display: none !important;
}

.placeholder {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    opacity: 0.5;
    z-index: -1;
}

// Media-adjusted classes:
.media({
    .padding-medium {
        padding: @media_vars[@layout-space-medium] !important;
    }

    .padding-right-small {
        padding-right: @media_vars[@layout-space-small] !important;
    }

    .padding-left-small {
        padding-left: @media_vars[@layout-space-small] !important;
    }

    .margin-small {
        margin: @media_vars[@layout-space-small] !important;
    }

    .margin-top-small {
        margin-top: @media_vars[@layout-space-small] !important;
    }

    .margin-bottom-small {
        margin-bottom: @media_vars[@layout-space-small] !important;
    }

    .margin-left-small {
        margin-left: @media_vars[@layout-space-small] !important;
    }

    .margin-right-small {
        margin-right: @media_vars[@layout-space-small] !important;
    }

    .margin-medium {
        margin: @media_vars[@layout-space-medium] !important;
    }

    .margin-top-medium {
        margin-top: @media_vars[@layout-space-medium] !important;
    }

    .margin-bottom-medium {
        margin-bottom: @media_vars[@layout-space-medium] !important;
    }

    .margin-left-medium {
        margin-left: @media_vars[@layout-space-medium] !important;
    }

    .margin-right-medium {
        margin-right: @media_vars[@layout-space-medium] !important;
    }
    .button {
        padding-left: @media_vars[@button-padding-medium];
        padding-right: @media_vars[@button-padding-medium];
    }

	@sizes: small medium large;
	each(@sizes, {
		.border-width_@{value} {
			@prop: 'border-width_@{value}';
			border-width: @media_vars[@@prop];
		}
		.border-width-hover_@{value} {
			&:hover, &:active {
				@prop: 'border-width-hover_@{value}';
				border-width: @media_vars[@@prop];
			}
		}
	});	

	@radii: default large;
	each(@radii, {
		.border-radius_@{value} {
			@prop: 'border-radius_@{value}';
			border-radius: @media_vars[@@prop];
		}
	});

	.padding_small {
		padding: @media_vars[@padding_small];
	}

    .font-size-content {
        font-size: @media_vars[@font-size-content];
    }

    .font-size-title-medium {
        font-size: @media_vars[@font-size-title-medium];
    }
});

.dynamic-opacity{
	opacity: 0.8;

	&:hover {
		opacity: 1;
	}
}

// Compiles the given ruleset in each media range using the variable values defined for each media range namespace
.media(@ruleset) {
	// Default values:
	// @media_vars: @media_default;
	// @ruleset();
	// #media_default();
	// @ruleset();
	// @media_vars: undefined;

	@media all {
		@media_vars: @media_default;
		// #media_default();
		@ruleset();		
	}

	// Hi Res Mobile:
	// Select media on hi-res (DPR) combined with small device width:;
	@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 414px) { 
		@media_vars: @media_hi-res;
		// #media_hi-res();
   		@ruleset();		
	}
}

// .hi-res-mobile(@rule) {
// 	@media (-webkit-min-device-pixel-ratio: 2.1), (min-resolution: 201.6dpi){ 
//     	@rule();
// 	}
// }
// 