.choice_detail {
	&:extend(.flex-column);
	position: absolute;
	.media({&{
		@dial_size: @media_vars[@dial_size];
		@content_width: @dial_size/3;
		@content_height: @dial_size/2;
		left: calc(50% - @content_width/2);
		top: calc(50% - @content_height/2);
		width: @content_width;
		height: @content_height;
		font-size: @media_vars[@font-size-title-medium];
		// &__image {
		// 	height: @dial_size/3 - 2*(4px + 3px); // Account for strip button padding & border
		// }
	}});
	justify-content: space-between;
	align-items: center;
	background-color: @color_white;
	border: solid 2px @color_black;
	z-index: 100;

	&__image {
		z-index: 100;
		height: calc(100% - 1.6em);
		& img {
            height: 100%;
            max-width: 100%;
			object-fit: contain;
		}
	}

	&__value {
		// inherit font-size from container

		text-align: center;
		margin-top: 0.5em;
        font-weight: bold;
	}
}
