@import 'vars';
@import 'atomic';

.dial {
    position: absolute;

    .media({&{
        @dial_size: @media_vars[@dial_size];
        height: @dial_size;
        width: @dial_size;
        bottom: calc(50% - @dial_size/2);
        left: calc(50% - @dial_size/2);

        }});

    &__track {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__thumb {
        position: absolute;
        .media({&{
            @thumb_size: @media_vars[@dial__thumb_size];
            @track_width: @media_vars[@dial__track_width];
            @overflow: (@thumb_size - @track_width)/2;
            width: ~'calc(50% - ' @overflow ~')';
            height: @track_width;
            top: ~'calc(50% - '  @track_width/2 ~')';//@overflow*2 ~')';
            right: @overflow;
        }});
        transform-origin: left center;
        transform: rotate(-45deg);

        &::after {
            content: '';
            position: absolute;
            .media({&{
                width: @media_vars[@dial__thumb_size];
                height: @media_vars[@dial__thumb_size];       
            }});
            top: 0;
            right: 0;
            background-color: @color_daffodil;
            border-radius: 50%;
            border: solid 5px @color_orange;
            box-sizing: border-box;
        }
    }
}