@import 'vars';
@import 'atomic';

.dial {
    position: absolute;

    .media({&{
        @dial_size: @media_vars[@dial_size];
        height: @dial_size;
        width: @dial_size;
        bottom: calc(50% - @dial_size/2);
        left: calc(50% - @dial_size/2);

        }});

    &__track {
        position: absolute;
        top: 0;
        left: 0;
//        width: 100%;
//        height: 100%;
        // border-radius: 50%;
        // border: solid 20px @color_dark-purple;
        // background-color: @color_cambridge-blue;
        // box-sizing: border-box;
    }

    &__thumb {
        position: absolute;
        .media({&{
            @thumb_size: @media_vars[@dial__thumb_size];
            @track_width: @media_vars[@dial__track_width];
            @overflow: (@thumb_size - @track_width)/2;
            width: ~'calc(50% - ' @overflow ~')';
            height: @track_width;
            // background-color: @color_daffodil;
            // border-radius: 50%;
            // border: solid 5px @color_orange;
            top: ~'calc(50% - '  @track_width/2 ~')';//@overflow*2 ~')';
            right: @overflow;
        }});
        transform-origin: left center;
        transform: rotate(-45deg);

        &::after {
            content: '';
            position: absolute;
            .media({&{
                width: @media_vars[@dial__thumb_size];
                height: @media_vars[@dial__thumb_size];       
            }});
            top: 0;
            right: 0;
            background-color: @color_daffodil;
            border-radius: 50%;
            border: solid 5px @color_orange;
            box-sizing: border-box;
        }
    }

    &__content {
        &:extend(.flex-column);
        position: absolute;
        .media({&{
            @dial_size: @media_vars[@dial_size];
            @content_width: @dial_size/3;
            @content_height: @dial_size/2;
            left: calc(50% - @content_width/2);
            top: calc(50% - @content_height/2);
            width: @content_width;
            height: @content_height;

            }});
        justify-content: space-between;
        align-items: center;
        background-color: @color_white;
        border: solid 2px @color_black;

        &::before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 46px;
            margin: auto;
            position: absolute;
            left: calc(50% - 23px);
            top: calc(50% - 26px);
            // right: 10px;
            // bottom: 10px;
            content: "\f666";
            animation-duration: 0.7s;
            animation-timing-function: steps(8);
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: normal;
            animation-fill-mode: none;
            animation-play-state: running;
            animation-name: fa-spin;
            opacity: 0.3;
            color: @color_yale-blue;
        }

        &__external {
            z-index: 100;

            & img {
                height: 80%;
                object-fit: contain;
            }
        }
    }
}