@import 'vars';
@import 'atomic';
@import 'layout';

.nav-state--initial {
	bottom: 0;
}

.nav-state--add {
	bottom: 35%;	
}

.radial_nav:not(.nav-state--initial) {
	&:extend(.nav-state--add all);
}

.radial_nav {
	&:extend(.flex-row);
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	transition-property: bottom;
	transition-duration: 1s;
}

.nav_button--theme {
	&:extend(.border-width_large all, .border-width-hover_large all, .dynamic-opacity all);
	border-style: solid;
	border-color: @color_orange !important;
	background-color: @color_daffodil;
	box-sizing: content-box;
	position: relative;
	transition-property: opacity;
	transition-duration: 1s;
    padding: 0;

    .media({&{
        font-size: @media_vars[@icon-size-large-button];
    }});
	
	&:focus {
		outline: none;
	}
}

.radial_nav__add_button {
	&:extend(.nav_button--theme all);
	border-top-right-radius: 100%;
	border-top-left-radius: 100%;
	border-bottom-width: 0;
    width: 2em;
	height: 2em;
	&:extend(.nav_button--theme all);
	display: flex;
    justify-content: center;
    align-items: center;

	// Hidden by default
	&, &:hover {
		opacity: 0;
		visibility: 0;
	}
	
	.nav-state--initial & {
		&:extend(.dynamic-opacity all);
	}
}

.radial_nav__choice {
	position: absolute;
	z-index: -1; // Make sure unseen button containers don't interfere with main nav button

    .media({&{
        // padding-laft offsets the distance of choice button from the center
        // half of nav button: @icon-size-large-button + @border-width_thick
        padding-left: @media_vars[@icon-size-large-button] + @media_vars[@border-width_large];
    }});

	// &:not(:nth-child(3)) .speech-bubble {
	// 	display: none!important;
	// }
	// // .speech-bubble {
	// 	display: none;
	// }

	// &:hover:not(:focus) .speech-bubble {
	// 	display: block;
	// }

	&--top {
		z-index: 1;
	}
}

.radial_nav__choices{
	z-index: 5;
}

.radial_nav__choice_button {
	&:extend(.strip-button all);
	
    .media({&{
        margin-left: (84px - @media_vars[@button-img-size])/2; 
        margin-right: (84px - @media_vars[@button-img-size])/2;

        img, i {
            height: @media_vars[@button-img-size];
            width: @media_vars[@button-img-size];
        }

        i {
            line-height: @media_vars[@button-img-size];
        }
    }});

	img {
		object-fit: contain;
	}
}

.radial_nav__back_button {
	&:extend(.nav_button--theme all);
}

.radial_nav__background {
	position:absolute;
	bottom: 100%;
    transform: translateY(50%) scale(0);
	z-index: -1;
	opacity: 0;
	// transition-property: opacity, transform;
	transition-property: transform;
	transition-duration: 2s;

    .media({&{
        width: @media_vars[@nav-background-width];
        left: ~"calc(50% - " @media_vars[@nav-background-width]/2 ~")";

    }});

	.nav-state--add & {
		opacity: 0.6;
        .media({&{
            transform: translateY(calc(35% + @media_vars[@nav-background-vert-offset])) scale(1);
        }});

		.ajax-loading& {
			animation-name: nav-loading;
			animation-duration: 0.8s;
			animation-iteration-count: infinite;
		    // animation-direction: alternate;
			animation-timing-function: ease-in-out;
		}
	}
}

//========================================
//
//	Responsive styles
//	
//====================
// .media({
	// .nav_button--theme {
	// 	font-size: @media_vars[@icon-size-large-button];
	// }

	// .radial_nav__choice {
	// 	// padding-laft offsets the distance of choice button from the center
	// 	// half of nav button: @icon-size-large-button + @border-width_thick
	// 	padding-left: @media_vars[@icon-size-large-button] + @media_vars[@border-width_large];
	// }


// 	.radial_nav__choice_button {
// 		margin-left: (84px - @media_vars[@button-img-size])/2; 
// 		margin-right: (84px - @media_vars[@button-img-size])/2;

// 		img, i {
// 			height: @media_vars[@button-img-size];
// 			width: @media_vars[@button-img-size];
// 		}

// 		i {
// 			line-height: @media_vars[@button-img-size];
// 		}
// 	}
// });

.background_loading {
    animation-name: nav-loading;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes nav-loading {
    0% { opacity: 0.2; }
    30% { opacity: 0.6; }
    50% { opacity: 0.8; }
    70% { opacity: 0.6; }
    100% { opacity: 0.2; }
}
