@font-size-large-button: 24px;

@color_yale-blue: #145B90;
@color_hunter-green: #347d3c;
@color_red: #fd2926;
@color_daffodil: #fff030;
@color_orange: #fa9606;
@color_cambridge-blue: #9db3b5;
@color_dark-purple: #381A3F;
@color_black: #000000;
@color_white: #FFFFFF;

@color-bg_default:@color_white;
@color-fg_default:@color_dark-purple;
@font-color_default: @color-fg_default;

// Font sizes
@font-size-title-small: 14px;

//Borders:
@border-width_default: 2px;
@border-width_hover: 4px;
@border_default: solid @border-width_default @color-fg_default;
