@font-size-large-button: 24px;

@color_yale-blue: #145B90;
@color_hunter-green: #347d3c;
@color_red: #fd2926;
@color_daffodil: #fff030;
@color_orange: #fa9606;
@color_cambridge-blue: #9db3b5;
@color_dark-purple: #381A3F;
@color_white: #000000;
@color_black: #FFFFFF;

@font-color_default: @color_dark-purple;
