@import 'vars';

html {
	.font-title;
	background-color: @color_cambridge-blue;
	background-image: url('../img/print-bg-tile.png');
	background-repeat: repeat;
	// background-size: cover;
	color: @font-color_default;
}

button {
	color: @font-color_default;
}

// Hide main while hero splashes:
main {
	animation-name: main-init;
	animation-duration: @animation-init-duration;
}

@keyframes main-init {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}