       <section class="details_pane hidden">
            <div class="details_list">
            </div>
            <div class="details_pane__book">{# <img height="100%" src="https://comicvine1.cbsistatic.com/uploads/scale_small/8/84205/3657120-%24_57.jpg"> #}</div>
            <div class="hidden _template">
                <div class="detail">
                    <div class="detail__name"></div>
                    <div class="detail__value"></div>
                </div>
            </div>
       </section>
