<section class="header-menu__dialog">
    <div class="header-menu__dialog__title">
        <span>{{ title }}</span>
        <button type="button" class="header-menu__dialog__title__back">
            <i class="fas fa-arrow-left"></i>
        </button>
    </div>
    <div class="header-menu__dialog__content">
        <div class="header-menu__dialog__content__illustration"">
            {% if img is not empty %}
                <img width="100%" src="{{ img }}">
            {% endif %}
            {% if svg is not empty %}
                {% include svg %}
            {% endif %}
        </div>
        <div class="header-menu__dialog__content__text">
            {{ text }}
        </div>
    </div>
</section>