<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
{% set about %}
    Welcome to Zwapp! While not intended for "real world" use, Zwapp is meant to be a conceptual app that showcases my abilities as a UI/UX developer. It also serves as my first project using PHP and MongoDB. This app illustrates possible use cases for easily finding a particular comicbook issue, for example to entered into a comicbook collection. Zwapp is also intended as a "mobile-first" application in which the workflows can be intuitively followed using a single finger on a touch screen, while providing good responsiveness for use with a desktop browser.

    <p>Because the focus of this app is on user interaction and app front-end design, many of the theoretical workflows will only go so far as to demonstrate the UI. With that in mind, please enjoy!</p>
{% endset %}
{% set origin %}
    Mwahh Ha Ha Ha Ha!!!! I cannot be imprisoned in a mere cubical!! My destiny is clearly beyond the 9 to 5 grind -- No! I have a vision of conquering the world by ever mastering more and more technologies! I shall employ my vast abilities to create unequalled user interfaces. The freelance world will know my amazing capabilities!
{% endset %}
{% set bio %}
    Hello! My name is Josh Eisenthal. I am an experienced front-end software developer with a passion for user interaction (UX). I also have had a life-long love for comics and the world of super heroes! I live in Massachusetts with my wife and 2 children. I spent the early yers of my career building desktop applications using Java Swing. About 5 years ago I transitioned to front-end work for single page web apps, first using the Backbone framework, then moving on to React. A lot of my recent work has focused on the implementation of UX concepts and designs, developing large sets of CSS on top of a UX reference implementation of the final product.
    <p>Please visit "Contacts" to find out how to contact me and learn more about my professional experienc.</p>
{% endset %}
{% set arch %}
    Zwapp! is built and runs using a variety of resources:<p></p>
    <div class="definition">
        <span class="definition__name">PHP</span>
        <span class="definition__content">The server side has been implemented in PHP, both as a provider of static html using the <b>Twig</b> templating library, and as microservices used to asynchronously provide queried content. Unit tests were run using <b>PHPUnit</b>.</span>
    </div>
    <div class="definition">
        <span class="definition__name">jQuery</span>
        <span class="definition__content">Used for much of the Javascript run on the client.</span>
    </div>
    <div class="definition">
        <span class="definition__name">MongoDB</span>
        <span class="definition__content">Used for permenant storage of data queried from the ComicVine online database.</span>
    </div>
    <div class="definition">
        <span class="definition__name">Node.js</span>
        <span class="definition__content">Used As a platform to manage Javascript libraries and scripts with<b>npm</b> and build/deploy with <b>WebPack</b></span>
    </div>
    <div class="definition">
        <span class="definition__name">ComicVine</span>
        <span class="definition__content">Comic provides vast amounts of data on comic books available via their web API.</span>
    </div>
{% endset %}
{% set contact %}
    Please get in touch!
    <div class="definition">
        <i class="fas fa-envelope-square"></i>
        <span class="definition__name">Email</span>
        <span class="definition__content"><a href="mailto:josh@eisenthalconsulting.com">josh@eisenthalconsulting.com</a></span>
    </div>
    <div class="definition">
        <i class="fab fa-linkedin"></i>
        <span class="definition__name">LinkedIn</span>
        <span class="definition__content"><a href="https://www.linkedin.com/in/josheisenthal/"> Josh Eisenthal</a></span>
    </div>
    <div class="definition">
        <i class="fab fa-github-square"></i>
        <span class="definition__name">GitHub</span>
        <span class="definition__content"><a href="https://github.com/jmeisenthal/zwapp">Zwapp!</a></span>
    </div>
{% endset %}
<div class="header-menu">
    <button type="button" class="header-menu__button">
        <i class="fas fa-bars"></i>
    </button>
    <div class="modal-container">
        <div class="modal">
            <button type="button" class="modal__close">
                <i class="fas fa-times"></i>
            </button>
            <div class="header-menu__pane">
                <div class="header-menu__group">
                    {% include 'header_menu__option.html' with { id: 'button-about', icon: 'meteor', text: 'About this app...'} %}
                    {% include 'header_menu__dialog.html' with { title: 'About Zwapp!', img: '', svg: 'zwapp.svg', text: about} %}
               </div>
                <div class="header-menu__group">
                    {% include 'header_menu__option.html' with { id: 'button-origin', icon: 'bolt', text: 'Origin Story...'} %}
                    {% include 'header_menu__dialog.html' with { title: 'About Zwapp!', img: '', svg: 'zwapp.svg', text: origin} %}
               </div>
               <div class="header-menu__group">
                    {% include 'header_menu__option.html' with { id: 'button-bio', icon: 'mask', text: 'The man behind the mask...'} %}
                    {% include 'header_menu__dialog.html' with { title: 'A Little Bit About Me', img: 'img/Josh Profile sqr.jpg', svg: '', text: bio} %}
               </div>
                <div class="header-menu__group">
                    {% include 'header_menu__option.html' with { id: 'button-arch', icon: 'atom', text: 'Notes on architecture...'} %}
                    {% include 'header_menu__dialog.html' with { title: 'About Zwapp!', img: '', svg: 'arch_logos.svg', text: arch} %}
               </div>
                <div class="header-menu__group">
                    {% include 'header_menu__option.html' with { id: 'button-contact', icon: 'rocket', text: 'Contact...'} %}
                    {% include 'header_menu__dialog.html' with { title: 'About Zwapp!', img: 'img/linkedin.jpg', svg: '', text: contact} %}
               </div>
            </div>
        </div>
    </div>
</div>