<html>
    <head>
        <title>{{ application }}</title>
 {#       <script src="https://kit.fontawesome.com/d6d448df16.js"></script> #}
        {% block stylesheets %}
            <link href="css/zwapp.css" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        <div class="background-container">
            <div class="background-hero">
                <div class="background-title">
                    {% include 'zwapp-title.svg' %}
                </div>
                <div class="background-burst">
                    {# {% include 'starburst.svg' %} #}
                    {% include 'starburst-explosion-2.svg' %}
                </div>
            </div>
       </div>
       <header class="flex-column align-items-end margin-medium">
            {# {% include 'slide_button.html' with { id: 'button-origin', icon: 'meteor', text: 'Origin Story...'} %} #}
            {% include 'header_menu.html' %}
       </header>
        <main>
        </main>
        {% include 'radial_nav.html' with { state: 'initial' } %}
    </body>
    <script type="text/javascript" src="main.js"></script>
</html>
