<html>
    <head>
        <link rel="shortcut icon" href="img/starburst-explosion.ico">
        <title>{{ application }}</title>
 {#       <script src="https://kit.fontawesome.com/d6d448df16.js"></script> #}
        {% block stylesheets %}
            <link href="css/zwapp.css" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        <div class="background-container">
            <div class="background-hero">
                <div class="background-title">
                    {% include 'zwapp-title.svg' %}
                </div>
                <div class="background-burst">
                    {# {% include 'starburst.svg' %} #}
                    {% include 'starburst-explosion-2.svg' %}
                </div>
            </div>
       </div>
       <header class="flex-column align-items-end margin-medium">
            {# {% include 'slide_button.html' with { id: 'button-origin', icon: 'meteor', text: 'Origin Story...'} %} #}
            {% include 'header_menu.html' %}
       </header>
       <section class="details_pane">
            <div class="row details_list">
                <div class="detail">
                    <div class="detail__name">Publisher</div>
                    <div class="detail__value">Marvel</div>
                </div>
                <div class="detail">
                    <div class="detail__name">Character</div>
                    <div class="detail__value">Hulk</div>
                </div>
                <div class="detail">
                    <div class="detail__name">Volume</div>
                    <div class="detail__value">The Incredible Hulk</div>
                </div>
                <div class="detail">
                    <div class="detail__name">Issue</div>
                    <div class="detail__value">234</div>
                </div>
            </div>
            <div class="details_pane__book">
                <img height="100%" src="https://comicvine1.cbsistatic.com/uploads/scale_small/8/84205/3657120-%24_57.jpg">
            </div>
       </section>
        <main>
        </main>
        {% include 'radial_nav.html' with { state: 'initial' } %}
    </body>
    <script type="text/javascript" src="main.js"></script>
</html>
