{% set button_id = 'choice_' ~ id %}

<div class="radial_nav__choice fan">
	<div class="radial_nav__choice_inner fan__inner flex-column flex-column--align-centered">
		<label class="speech-bubble" for="{{ button_id }}">{{ name }}</label>
        
		<button id="{{ button_id }}" type="button" data-type="{{ type }}" data-id="{{ id }}" data-name="{{ name }}" data-first="{{ first }}" data-last="{{ last }}" class="radial_nav__choice_button"><img src="{{ icon_url }}"><i class="placeholder fas fa-bahai"></i></button>
	</div>
</div>