{% set state = state ?: 'initial' %}

<nav class="radial_nav nav-state--{{ state }}">
	<div class="radial_nav__choices">
		{# {% block choices %} #}
			{# {% include 'radial_nav__choice.html' %} #}
		{# {% endblock %} #}
	</div>
	<div class="strip-button choice_detail js_select_choice js_hint_3_target hidden">
		<div class="speech-bubble justify-right fade js_hint_3">Click here to confirm selection!</div>
        <div class="choice_detail__image"></div>
        <div class="choice_detail__value"></div>
	</div>
	<div class="position-relative">	
		<div class="radial_nav__background">
			{% include 'starburst-explosion-2.svg' %}	
		</div>
		<div id="nav-add-hint" class="speech-bubble justify-right fade js_hint_1">Click here to start adding a comicbook!</div>
		<div class="flex-row">
{# 		<button id="nav-back" class="radial_nav__button radial_nav__button--back">
			<i class="fas fa-arrow-left"></i>
		</button>
 #}		
 			<button id="nav-add" class="radial_nav__add_button js_hint_1_target">
				<i class="fas fa-plus"></i>
			</button>
		</div>
	</div>
	<div id="back_button_template" class="hidden">
		<div class="radial_nav__choice radial_nav__choice--top fan fan--11">
			<div class="radial_nav__choice_inner fan__inner">
				<div class="speech-bubble justify-right fade js_hint_2">Click here to go back!</div>
				<button class="radial_nav__choice_button radial_nav__back_button js_hint_2_target">
					<i class="fas fa-arrow-left"></i>
				</button>
			</div>
		</div>
	</div>
	<template id="choice_detail_template">
		
	</template>
</nav>
